.formBlock {
    margin-top: 30px;
    &__errorInput {
        text-align: center;
        color: red;
    }
    &__buttonSubmit {
        text-align: center;
    }
}

.newsBlock {
    height: 100%;
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}
.title {
    text-align: center;
    margin-top: 30px;
}




