.postBlock {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: lightblue;
}
.postBlock__title {

}
.postBlock__text {

}
.postBlock__date {

}
.buttonsBlock {

}